---
layout: default
title: Pin-Up Geek
---


    {% for post in paginator.posts %}
		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p>{{ post.excerpt }}</p>		
		<p><a href="{{ post.url }}">Read More &rarr;</a></p>
		<hr>
    {% endfor %}

  
  <div class="pagination center-block">
	  {% if paginator.total_pages > 1 %}
	  <ul class="pager">
	    {% if paginator.previous_page %}
	      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a></li>
	    {% else %}
	      <li class="disabled"></li>
	    {% endif %}

	   <!-- {% for page in (1..paginator.total_pages) %}
	      {% if page == paginator.page %}
	        <li class="active"><a>{{ page }}</a></li>
	      {% elsif page == 1 %}
	        <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
	      {% else %}
	        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
	      {% endif %}
	    {% endfor %} -->

	    {% if paginator.next_page %}
	      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a></li>
	    {% else %}
	      <li class="disabled"></li>
	    {% endif %}
	  </ul>
	  {% endif %}
  
</div>