</div>
          <div class="footer">
			  <hr>
			  <div class="container">
				  <div class="row">
					  
            <div class="col-sm-6">
              <p>
                <strong>Stephen Lee</strong><br />
                Web Developer<br />
                contact@stephenlee.org
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <a href="https://github.com/stphnlee">github.com/stphnlee</a><br />
                <a href="https://twitter.com/stphnlee">twitter.com/stphnlee</a><br />
              </p>
            </div>
		</div>
          </div>
        </div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>
